<aside class="profile-card">
    <img src="" alt="Profile photo" class="profile-image">
    <h1></h1>
    <p class="bio"></p>
    <div class="social-links">
        <a href="" class="social-icon"><i class="fas fa-envelope"></i></a>
        <a href="" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="" class="social-icon"><i class="fas fa-graduation-cap"></i></a>
        <a href="" class="social-icon"><i class="fab fa-github"></i></a>
    </div>
    <nav class="navigation">
        <a href="index.html" class="nav-item">Accueil</a>
        <a href="projects.html" class="nav-item">Projets</a>
        <a href="blog.html" class="nav-item">Blog</a>
        <a href="cv.html" class="nav-item">Curriculum vitae</a>
        <a href="personal.html" class="nav-item">Projets Personnels</a>
        <a href="test.html" class="nav-item">Test Animation</a>
    </nav>
</aside> 