<article class="project-card">
    <div class="project-image">
        <img src="" alt="" class="project-img">
    </div>
    <div class="project-content">
        <h3></h3>
        <p class="project-description"></p>
        <div class="project-links">
            <a href="" class="project-link" target="_blank"><i class="fab fa-github"></i> Code</a>
            <a href="" class="project-link" target="_blank"><i class="fas fa-external-link-alt"></i> Demo</a>
        </div>
    </div>
</article> 